*{
    .App{
        .navbar{
            background-color: black;
            height: 100px;
        }
        .focus{
            
            
            .table{
                .row{ 
                    
                    display: flex;
                    .cell{
                        border: solid 1px black;
                    }
                    
                    
                }
                
            }
        }
    } 
}
